.git
__pycache__/
*.py[cod]
*.log
*.sqlite3

venv/
env/
.virtualenv/
.venv/

.vscode/
.idea/

*.swp
*.swo
*.tmp
*.bak

docker-compose.yml
Dockerfile*

secrets/
.env
*.pem
*.key

*.tar
*.gz
*.zip
node_modules/
dist/
build/
PostgreSQLScript.sql